body {
    font-size: 18px;
}

.number_box {
    width: 50px;
    height: 30px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-left-width: 4px;
    border-bottom-width: 4px;*/
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    /*border-right-width: 4px;
    border-top-width: 4px;*/

}

.form_border {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 14px;
    width: max-content;
}

body {
    /*margin-left: 20px;*/
    display: flex;
}

#hist_vis {
    margin-top: 20px;
}

.form_hist_container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#exp_div {
    display: flex;
    flex-direction: row;
}

#expected_value {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#hamilton_exp {
    margin-top: 10px;
}

#container_div {
    display: flex;
    flex-direction: column;
}

#result_container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#vis_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#dt_text {
    width: 75px;
}

#large_ts_warning_div{
    margin-top: 10px;
}

#form_hist_container_div_v3{
    margin: 10px auto;
}